In [1]:
from Bio import AlignIO
align = AlignIO.read("output.aln", "clustal")
clusters = {}
for record in align:
    seq = record.seq
    if seq not in clusters:
        clusters[seq] = []
    clusters[seq].append(record.id)

In [2]:
import pandas as pd
data = pd.DataFrame(columns = ['Sequences','Cultivar ID', 'Subpopulation', 'Plant Height(cm)'])
for records in align:
    values = records.id.split("|")
    row = {"Sequences" : str(records.seq), "Cultivar ID" : values[1], "Subpopulation" : values[2], "Plant Height(cm)" : float(values[0])}
    data = pd.concat([data, pd.DataFrame([row])], ignore_index = True)
data.head(10)

   Sequences Cultivar ID Subpopulation  Plant Height(cm)
0  GCTTTTCCC        C001        Indica            144.13
1  GCTTTTCCC        W261  Intermediate            132.40
2  GCTGTTCCC        W306   VI/Aromatic            129.60
3  GCTTTTTCC        C193        Indica            158.40
4  GCTTTTTCC        W132        Indica            156.00
5  GCTTTTTCC        C183        Indica            160.57
6  GCTTTTTCC        C180        Indica            147.15
7  GCTTTTTCC        C128        Indica            158.23
8  GCTTTTTCT        C036        Indica             95.07
9  GCTTTTTCT        C121        Indica            150.67

In [3]:
grouped = data.groupby("Sequences").nunique()
grouped
#unique_sequences = grouped[grouped['Sequences'] == 1].index.valuesunique_sequences
#result = data[data['Sequences'].isin(unique_sequences)]

           Cultivar ID  Subpopulation  Plant Height(cm)
Sequences
ACCGATCTT            1              1                 1
ACTGAACCC            1              1                 1
ACTGAACCT            3              1                 3
ACTGAACTC            1              1                 1
ACTGAACTT            5              1                 5
...                ...            ...               ...
GCTTTTTTC            3              1                 2
GCTTTTTTT           11              1                11
GTCGTTCTC            1              1                 1
GTCTTTTTC            1              1                 1
GTTGTATTC            1              1                 1

[75 rows x 3 columns]

In [4]:
with open("Clusters.csv", "w") as file2:
    for key, value in clusters.items():
        a = ""
        a = (key, value)
        a = str(a)
        file2.write(a + "\n")