In [2]:
import pandas as pd
Imp_VarID = pd.read_excel("Imputed_Genotype_VarID.xlsx")
Imp_VarID.insert(10, "Plant_Height(cm)", "0")
Imp_VarID.to_excel("Mapped_set(Imputed).xlsx", index = False)

In [4]:
import pandas as pd
Raw_VarID = pd.read_excel("Raw_Genotype_VarID.xlsx")
Raw_VarID.insert(10, "Plant_Height(cm)", "0")
Raw_VarID.to_excel("Mapped_set(Raw).xlsx", index = False)

In [77]:
Mapped_1 = pd.read_excel("Mapped_set(Imputed).xlsx")
Mapped_1.rename(columns = {'Variation ID':'Cultivar ID'}, inplace = True)

In [78]:
#Mapped_1['Cultivar ID'] = Mapped_1['Cultivar ID'].str.split(" ", n = 1, expand = False)
for i in range(len(Mapped_1["Cultivar ID"])):
    Mapped_1["Cultivar ID"][i]=Mapped_1["Cultivar ID"][i][0]
Mapped_1

C:\Users\UMANG\AppData\Local\Temp\ipykernel_12128\2013678574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mapped_1["Cultivar ID"][i]=Mapped_1["Cultivar ID"][i][0]

,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840,Plant_Height(cm)
0,C,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12,0
1,P,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840,0
2,V,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,0
3,R,A,C,T,G,T,A,C,T,T,0
4,P,G,C,T,G,T,A,T,T,T,0
...,...,...,...,...,...,...,...,...,...,...,...
4727,W,G,C,T,G,T,A,C,T,C,0
4728,W,A,C,T,G,T,A,C,T,C,0
4729,W,A,C,T,G,T,A,C,T,T,0
4730,W,G,C,T,G,T,A,T,T,C,0
4731,W,G,C,C,DEL,T,T,C,DEL,C,0

In [73]:
Mapped_1.to_csv("Mapped_set_CSV(Imputed).csv", index = False)

In [74]:
Mapped_2 = pd.read_excel("Mapped_set(Raw).xlsx")
Mapped_2

,Variation ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840,Plant_Height(cm)
0,Chromosome,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12,0
1,Position,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840,0
2,Variation Type,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,0
3,Reference,A,C,T,G,T,A,C,T,T,0
4,Primary Allele,G,C,T,G,T,A,T,T,T,0
...,...,...,...,...,...,...,...,...,...,...,...
4727,W326 (Haolvguangnian) Raw,G,C,T,G,T,A,C,T,N,0
4728,W327 (JinghuB) Raw,A,C,T,G,T,N,C,T,C,0
4729,W328 (Sibeitichao6) Raw,A,N,T,N,N,A,C,T,T,0
4730,W329 (GPNO_5055) Raw,G,C,T,G,T,A,N,T,N,0
4731,W330 (ASWINA_330) Raw,G,N,N,N,T,N,C,N,C,0

In [76]:
Mapped_2.rename(columns = {"Variation ID":"Cultivar ID"}, inplace = True)

In [79]:
Mapped_2['Cultivar ID'] = Mapped_2["Cultivar ID"].str.split(" ", n = 1, expand = False)

In [81]:
for i in range(len(Mapped_2['Cultivar ID'])):
    Mapped_2['Cultivar ID'][i] = Mapped_2['Cultivar ID'][i][0]
Mapped_2

C:\Users\UMANG\AppData\Local\Temp\ipykernel_12128\545963648.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Mapped_2['Cultivar ID'][i] = Mapped_2['Cultivar ID'][i][0]

,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840,Plant_Height(cm)
0,Chromosome,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12,0
1,Position,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840,0
2,Variation,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,0
3,Reference,A,C,T,G,T,A,C,T,T,0
4,Primary,G,C,T,G,T,A,T,T,T,0
...,...,...,...,...,...,...,...,...,...,...,...
4727,W326,G,C,T,G,T,A,C,T,N,0
4728,W327,A,C,T,G,T,N,C,T,C,0
4729,W328,A,N,T,N,N,A,C,T,T,0
4730,W329,G,C,T,G,T,A,N,T,N,0
4731,W330,G,N,N,N,T,N,C,N,C,0

In [82]:
Mapped_2.to_csv("Mapped_set_CSV(Raw).csv", index = False)

In [4]:
plant_height = pd.read_excel("Plant_Height.xlsx")

In [5]:
plant_height.to_csv("Plant_Height(CSV).csv", index = False)